
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



label {
    padding-left: 20px;
    padding-right: 20px;
}

#content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;

    position: absolute;
    left: 0px;
    right: 0px;
}

#help {
    width: 90%;
    height: 1em;
    margin: 0 auto;
    padding: 10px;

    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 40px;
    
    color: rgba(0, 0, 0, 0.4);
    text-indent: 5px;
    overflow: hidden;
}

#txtInput {
    width: 90%;
    height: auto;
    padding: 5px 10px;
    margin: 0 auto;
    border: slategray 1px solid;
    border-radius: 15px;
    text-align-last: center;
    resize: none;
    
    position: fixed;
    bottom: 10px;
    left: 0px;
    right: 0px;
}

